.new {
  background-color: hsl(240, 100%, 5%);
  color: hsl(36, 100%, 99%);
  display: grid;
  grid-template-rows: min-content 1fr;
  gap: 2rem;
  padding: 3rem 1.5rem;
  margin: 2rem 0;
}

.heading {
  font-size: 3rem;
  color: hsl(35, 77%, 62%);
}

.newelement {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 2rem;
}

@media screen and (min-width: 45.5em) {
  .heading {
    font-size: 5rem;
  }
  .new {
    grid-template-rows: min-content max-content;
  }
  .newelement {
    grid-template-rows: repeat(3, min-content);
  }
}
